.swiper {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center; 
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.swiper-button-prev{
  top: 94%;
  left: 30%;
}

.swiper-button-next {
  top: 94%;
  right: 30%;
}

.swiper-button-prev:after {
  content: 'Prev';
  font-family: "Biro Script Plus";
  color: #FFF;
  font-size: 24px;
  line-height: 1;
}

.swiper-button-next:after {
  content: 'Next';
  font-family: "Biro Script Plus";
  color: #FFF;
  font-size: 24px;
  line-height: 1;
}
