.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 295px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-prev{
  width: 48px;
  height: auto;
  margin-top: 0;

  top: 92%;
  left: 25%;
}

.swiper-button-next {
  width: 48px;
  height: auto;
  margin-top: 0;

  top: 92%;
  right: 25%;
}

.swiper-button-prev:after {
  content: 'Prev';
  font-family: "Biro Script Plus";
  color: #FFF;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
}

.swiper-button-next:after {
  content: 'Next';
  font-family: "Biro Script Plus";
  color: #FFF;
  font-size: 24px;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .swiper-wrapper {
    height: 370px;
  }
  
  .swiper-button-prev {
    top: 94%;
    left: 38%;
  }
  
  .swiper-button-next {
    top: 94%;
    right: 38%;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-wrapper {
    height: 320px;
  }

  .swiper-button-prev{
    top: 93%;
    left: 41%;
  }

.swiper-button-next {
    top: 93%;
    right: 41%;
  }
}